<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>${user.home}/.m2/my-repository</localRepository>
  <servers>
    <server>
      <id>registry.hub.docker.com</id>
      <username>shaileshrakhade</username>
      <password>dckr_pat_S69lWvU2O2-vhEW7IDFKW9BGUIQ</password>
    </server>
  </servers>
</settings>
<!--
docker login -u shaileshrakhade
dckr_pat_S69lWvU2O2-vhEW7IDFKW9BGUIQ
-->